<div *ngIf="list.length > 0; then listContent else noElements">here is ignored</div>

<!-- list of elements -->
<ng-template #listContent>
  <mat-nav-list>
    <a mat-list-item *ngFor="let element of list" (click)="clickOnItem(element)" aria-label="Edit this element">
      <img matListAvatar src="{{getImage(element)}}" alt="picture">
      <h3 matLine> {{getName(element)}} </h3>
      <span matLine class="mat-caption"> {{getAdditionalInfo(element)}} </span>
    </a>
  </mat-nav-list>
</ng-template>

<!-- if there is no elements -->
<ng-template #noElements>
  Nothing here
</ng-template>

<button mat-fab (click)="newElementModal()">
  <mat-icon aria-label="Add a new element">{{icon}}</mat-icon>
</button>