<app-navigate-back> Stats </app-navigate-back>

<h1 class="mat-title">How Many TEAMS are Registered?</h1>
<p class="mat-subheading">{{howManyTeamsAreRegistered()}}</p>
<mat-divider></mat-divider>

<h1 class="mat-title">How Many PLAYERS Will Play?</h1>
<p class="mat-subheading">{{howManyPlayersWillPlay()}}</p>
<mat-divider></mat-divider>

<h1 class="mat-title">Who is the YOUNGEST Player?</h1>
<p class="mat-subheading">Name - {{youngestPlayer.name}}</p>
<p class="mat-subheading">Birth Date - {{youngestPlayer.birthDate | date}}</p>
<mat-divider></mat-divider>

<h1 class="mat-title">Who is the OLDEST Player?</h1>
<p class="mat-subheading">Name - {{oldestPlayer.name}}</p>
<p class="mat-subheading">Birth Date - {{oldestPlayer.birthDate | date}}</p>
<mat-divider></mat-divider>

<h1 class="mat-title">How Many NON Titular Players Are?</h1>
<p class="mat-subheading">{{nonTitularPlayers}}</p>
<mat-divider></mat-divider>

<h1 class="mat-title">Average of Non Titular Players on Each Team?</h1>
<p class="mat-subheading">{{AverageNonTitularPlayers}}</p>
<mat-divider></mat-divider>